<link rel="import" href="elements-grid.html">

<link rel="import" href="elements-toolbar.html">

<link rel="import" href="elements-card.html">

<link rel="import" href="elements-cards-list.html">

<link rel="import" href="elements-detail.html">

<dom-module id="elements-resume">

    <style>
        :host {
            background: #e4e4e4;
            visibility: hidden;
            font-family:"Roboto";
            @apply(--layout-vertical);
        }
        neon-animated-pages {
            height: 100%;
        }
    </style>

    <template>
        
        <neon-animated-pages id="pages" selected="0">
            
            <elements-cards-list id="list">
                <div class="fit layout vertical">
                    <elements-toolbar></elements-toolbar>

                    <elements-grid id="grid"></elements-grid>
                </div>
            </elements-cards-list>
            <elements-card id="item-2012">
                <div class="fit layout vertical">
                    <elements-toolbar></elements-toolbar>
                    <elements-detail></elements-detail>
                </div>
            </elements-card>
            <elements-card id="item-2013">
                <div class="fit layout vertical">
                    <elements-toolbar></elements-toolbar>
                    <elements-detail></elements-detail>
                </div>
            </elements-card>
            <elements-card id="item-2014">
                <div class="fit layout vertical">
                    <elements-toolbar></elements-toolbar>
                    <elements-detail></elements-detail>
                </div>
            </elements-card>
            <elements-card id="item-2015">
                <div class="fit layout vertical">
                    <elements-toolbar></elements-toolbar>
                    <elements-detail></elements-detail>
                </div>
            </elements-card>
            
        </neon-animated-pages>
    </template>

</dom-module>

<script>
    Polymer({

        is: 'elements-resume',

        behaviors: [
            Polymer.NeonAnimatableBehavior,
            Polymer.NeonAnimationRunnerBehavior
        ],

        properties: {

            animationConfig: {
                type: Object,
                value: function () {
                    return {
                        'entry': [{
                            animatable: this.$.grid,
                            type: 'entry'
                        }]
                    };
                }
            }

        },

        show: function () {
            this.style.visibility = 'visible';
            this.playAnimation('entry');
            document.querySelector('elements-toolbar').show();
        },
        
        changePage: function(index){//#f4b400,#0f9d58,#4285f4,#db4437
            index = index || 0;
            this.$.list.sharedElements = {
                'ripple': event.target,
                'reverse-ripple': event.target
            };
            this.$.pages.selected = index;
            var selected = document.querySelector('elements-card.iron-selected elements-toolbar');
            selected.show([null,'#db4437','#4285f4','#0f9d58','#f4b400'][index]);
            var config = document.querySelector('#item-' + (index - 1 + 2012) + ' elements-detail');
            config.setConfig(this.$.grid.config[4-index]);
        }

    });

</script>